#add-button{
    background-color: green;
    height: 30px;
    width: 80px;
    background-position: center;
}

.datalist {
    height:5px !important;
    max-height:8px !important;
    overflow-y:auto;
    display:block !important;
}

a:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
